* {
  text-decoration: none;
  text-decoration-line: none;
}

body,
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

/**
 the nav bar
*/
.main-header{
    width: 100%;
    background-color: #555;
    overflow: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.main-header a {
 float: left;
 padding: 10px;
 color: #fff;
 text-decoration: none;
 font-size: 17px;
 width: 20%;
 text-align: center;
}

.main-header :hover {
    background-color: rgb(42, 42, 110);
}

/**
  nav bar end
*/